In [1]:
# imports

import pandas as pd
import numpy as np

## Loading the data

In [2]:
data = pd.read_csv("/mnt/g/Meine Ablage/raw_data/Features/Wind speed/Daily/data/data_OBS_DEU_P1D_F.csv", delimiter = ",",names=["Product_Code","Station_ID","Time_Stamp","Value","Quality_Byte","Quality"])

/home/hauke/.pyenv/versions/3.8.6/envs/predict_energy_generation/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (1,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
# Dropping Produkt_Code and Quality_Byte because they hold no nominal values
# Also Dropping Quality for now,We could possibly test if the Quality of data makes a difference and drop the Quality
data = data.drop(columns=["Product_Code", "Quality_Byte", "Quality"])

In [4]:
data = data.drop(data.index[0])

In [5]:
data["Date"] = pd.to_datetime(data["Time_Stamp"])
data.drop(columns = ["Time_Stamp"])

       Station_ID Value       Date
1            1001   3.3 2015-01-01
2            1001   6.8 2015-01-02
3            1001     7 2015-01-03
4            1001   7.8 2015-01-04
5            1001   6.1 2015-01-05
...           ...   ...        ...
646961        963   1.8 2021-04-26
646962        963   4.3 2021-04-27
646963        963   2.8 2021-04-28
646964        963   4.8 2021-04-29
646965        963   2.0 2021-04-30

[646965 rows x 3 columns]

In [7]:
#Froming the Dataframe
df_pivot_values = data.pivot(index="Date", columns="Station_ID", values="Value")

In [8]:
# Drops timeseries of weather stations with more than 5% NAN values
df_pivot_values = df_pivot_values.dropna(axis=1, thresh=df_pivot_values.shape[0]*0.95)

In [9]:
# Renaming the Columns so they are all Datatype int
#int_type_columns = {}
#for column in df_pivot_values.columns:
    #int_type_columns[column] = int(column)
#df_pivot_values = df_pivot_values.rename(columns = int_type_columns)

In [10]:
# Filling remainig NAN
for column in df_pivot_values.columns:
    df_pivot_values[column] = df_pivot_values[column].fillna((df_pivot_values[column]).median())

In [1]:
# saving Dataframe to Google Drive
df_pivot_values.to_csv("/mnt/g/Meine Ablage/raw_data/Features/DATAFRAMES/winddailyofeverystation.csv")

NameError: name 'df_pivot_values' is not defined

In [13]:
df_pivot_values.index

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2021-04-21', '2021-04-22', '2021-04-23', '2021-04-24',
               '2021-04-25', '2021-04-26', '2021-04-27', '2021-04-28',
               '2021-04-29', '2021-04-30'],
              dtype='datetime64[ns]', name='Date', length=2312, freq=None)