# Importing relevant packages

In [54]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

# Create dataframe from csv-files

In [9]:
os.path.join(os.getcwd(),"../raw_data"

'/Users/michael.kuntz/code/HaukeFock/predict_energy_generation/notebooks/../raw_data'

In [27]:
os.chdir(os.path.join(os.path.dirname(os.getcwd()),"cdc_download_2021-05-20_19-21/data"))

In [28]:
os.getcwd()

'/Users/michael.kuntz/code/HaukeFock/predict_energy_generation/raw_data/cdc_download_2021-05-20_19-21/data'

In [29]:
for path, dirs, files in os.walk(os.getcwd()):
  print(path)
  for f in files:
    print(f)

/Users/michael.kuntz/code/HaukeFock/predict_energy_generation/raw_data/cdc_download_2021-05-20_19-21/data
data_OBS_DEU_P1D_F.csv
sdo_OBS_DEU_P1D_F.csv
prd.csv

In [44]:
data_OBS_DEU_P1D_F_df = pd.read_csv('data_OBS_DEU_P1D_F.csv', index_col=False)
data_OBS_DEU_P1D_F_df.head()

    Produkt_Code  SDO_ID Zeitstempel  Wert  Qualitaet_Byte  Qualitaet_Niveau
0  OBS_DEU_P1D_F    1001  2015-01-01   3.3               4                10
1  OBS_DEU_P1D_F    1001  2015-01-02   6.8               4                10
2  OBS_DEU_P1D_F    1001  2015-01-03   7.0               4                10
3  OBS_DEU_P1D_F    1001  2015-01-04   7.8               4                10
4  OBS_DEU_P1D_F    1001  2015-01-05   6.1               4                10

In [45]:
sdo_OBS_DEU_P1D_F_df = pd.read_csv('sdo_OBS_DEU_P1D_F.csv', index_col=False)
sdo_OBS_DEU_P1D_F_df.head()

,SDO_ID,SDO_Name,Geogr_Laenge,Geogr_Breite,Hoehe_ueber_NN,Metadata_Link
0,2100,Helgoland-Düne,7.911932,54.185992,4.0,https://cdc.dwd.de/rest/metadata/station/html/...
1,15978,Sembach,7.861829,49.504430,316.0,https://cdc.dwd.de/rest/metadata/station/html/...
2,19171,Hasenkrug-Hardebek,9.855267,54.003766,13.0,https://cdc.dwd.de/rest/metadata/station/html/...
3,15801,Hinterschmiding-Sonndorf,13.592152,48.825689,717.0,https://cdc.dwd.de/rest/metadata/station/html/...
4,15976,Ober-Olm/Bellem,8.210699,49.952867,216.0,https://cdc.dwd.de/rest/metadata/station/html/...

In [35]:
prd_df = pd.read_csv('prd.csv')
prd_df.head()

,Produkt_Code,Produkt_Titel,Einheit,Beschreibung_DWD,Beschreibung_Inspire
0,OBS_DEU_P1D_F,Daily mean of station observations of wind spe...,m/s,https://cdc.dwd.de/sdi/pid/OBS_DEU_P1D_F/DESCR...,https://cdc.dwd.de/sdi/pid/OBS_DEU_P1D_F/ISO_O...

# Merge dataframes

In [51]:
merged_df = data_OBS_DEU_P1D_F_df.merge(sdo_OBS_DEU_P1D_F_df,left_on = 'SDO_ID',right_on = 'SDO_ID')
merged_df.head()

,Produkt_Code,SDO_ID,Zeitstempel,Wert,Qualitaet_Byte,Qualitaet_Niveau,SDO_Name,Geogr_Laenge,Geogr_Breite,Hoehe_ueber_NN,Metadata_Link
0,OBS_DEU_P1D_F,1001,2015-01-01,3.3,4,10,Doberlug-Kirchhain,13.574714,51.645071,97.0,https://cdc.dwd.de/rest/metadata/station/html/...
1,OBS_DEU_P1D_F,1001,2015-01-02,6.8,4,10,Doberlug-Kirchhain,13.574714,51.645071,97.0,https://cdc.dwd.de/rest/metadata/station/html/...
2,OBS_DEU_P1D_F,1001,2015-01-03,7.0,4,10,Doberlug-Kirchhain,13.574714,51.645071,97.0,https://cdc.dwd.de/rest/metadata/station/html/...
3,OBS_DEU_P1D_F,1001,2015-01-04,7.8,4,10,Doberlug-Kirchhain,13.574714,51.645071,97.0,https://cdc.dwd.de/rest/metadata/station/html/...
4,OBS_DEU_P1D_F,1001,2015-01-05,6.1,4,10,Doberlug-Kirchhain,13.574714,51.645071,97.0,https://cdc.dwd.de/rest/metadata/station/html/...

# Analyze and visualize data

In [52]:
merged_df.describe()

,SDO_ID,Wert,Qualitaet_Byte,Qualitaet_Niveau,Geogr_Laenge,Geogr_Breite,Hoehe_ueber_NN
count,646965.000000,646965.000000,646965.0,646965.000000,646965.000000,646965.000000,646965.000000
mean,4283.256510,3.684737,4.0,9.622385,10.282830,51.007059,304.685005
std,3585.670355,2.214106,0.0,1.508159,2.095711,2.088087,323.642159
min,11.000000,0.000000,4.0,1.000000,6.024390,47.398429,0.000000
25%,1757.000000,2.200000,4.0,10.000000,8.697270,49.212803,51.000000
50%,3402.000000,3.100000,4.0,10.000000,10.142375,50.982859,241.000000
75%,5715.000000,4.600000,4.0,10.000000,12.032303,52.619829,450.000000
max,19171.000000,30.100000,4.0,10.000000,14.950565,55.010989,2965.000000

In [53]:
merged_df.isnull().sum()

Produkt_Code        0
SDO_ID              0
Zeitstempel         0
Wert                0
Qualitaet_Byte      0
Qualitaet_Niveau    0
SDO_Name            0
Geogr_Laenge        0
Geogr_Breite        0
Hoehe_ueber_NN      0
Metadata_Link       0
dtype: int64